div.jumbotron{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/fl-train.png);
    background-size: cover;
    color: white;
/* opacity:0.6; */
}

h1,h3,h4,h6{
    text-align:center;

}

#missingField,#notMilitaryTime{
    color:red;
}


h4{
    padding:15px 0;
    color:white;
}
.card-heading{
    background-color:rgb(233, 136, 25);
    color:black;
}
tr th,td{
    text-align:center;
}

th{
    font-weight: bold;
}


.container-fluid {
/* Box-model */
    width: 1200px;
}

@media screen and (max-width:830px){

    #formDiv{
    margin-bottom:25px;
    } 

}